# Checkpoint Three: Cleaning Data

Now you are ready to clean your data. Before starting coding, provide the link to your dataset below.

My dataset:

Import the necessary libraries and create your dataframe(s).

In [16]:
import pandas as pd 
import numpy as np 

features_df = pd.read_csv('C:/Users/Sabria/Desktop/Python/Database for GA/Features data set.csv')
sales_df = pd.read_csv('C:/Users/Sabria/Desktop/Python/Database for GA/sales data-set.csv')
stores_df = pd.read_csv('C:/Users/Sabria/Desktop/Python/Database for GA/stores data-set.csv')

combined_df = pd.concat([features_df, sales_df, stores_df], axis=1)
combined_df.reset_index(drop=True, inplace=True)

## Missing Data

Test your dataset for missing data and handle it as needed. Make notes in the form of code comments as to your thought process.

In [6]:
print(combined_df.head(25).isna())
print(combined_df.isna().sum())
print(combined_df.isnull().sum())

print(combined_df.shape)
combined_df_cleaned= combined_df.dropna()
print(combined_df_cleaned.shape)
# dropping rows with Naan

    Store   Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
0   False  False        False       False       True       True       True
1   False  False        False       False       True       True       True
2   False  False        False       False       True       True       True
3   False  False        False       False       True       True       True
4   False  False        False       False       True       True       True
5   False  False        False       False       True       True       True
6   False  False        False       False       True       True       True
7   False  False        False       False       True       True       True
8   False  False        False       False       True       True       True
9   False  False        False       False       True       True       True
10  False  False        False       False       True       True       True
11  False  False        False       False       True       True       True
12  False  False        False       False       True       True       True
13  False  False        False       False       True       True       True
14  False  False        False       False       True       True       True
15  False  False        False       False       True       True       True
16  False  False        False       False       True       True       True
17  False  False        False       False       True       True       True
18  False  False        False       False       True       True       True
19  False  False        False       False       True       True       True
20  False  False        False       False       True       True       True
21  False  False        False       False       True       True       True
22  False  False        False       False       True       True       True
23  False  False        False       False       True       True       True
24  False  False        False       False       True       True       True

    MarkDown4  MarkDown5    CPI  Unemployment  IsHoliday  Store   Dept   Date  \
0        True       True  False         False      False  False  False  False
1        True       True  False         False      False  False  False  False
2        True       True  False         False      False  False  False  False
3        True       True  False         False      False  False  False  False
4        True       True  False         False      False  False  False  False
5        True       True  False         False      False  False  False  False
6        True       True  False         False      False  False  False  False
7        True       True  False         False      False  False  False  False
8        True       True  False         False      False  False  False  False
9        True       True  False         False      False  False  False  False
10       True       True  False         False      False  False  False  False
11       True       True  False         False      False  False  False  False
12       True       True  False         False      False  False  False  False
13       True       True  False         False      False  False  False  False
14       True       True  False         False      False  False  False  False
15       True       True  False         False      False  False  False  False
16       True       True  False         False      False  False  False  False
17       True       True  False         False      False  False  False  False
18       True       True  False         False      False  False  False  False
19       True       True  False         False      False  False  False  False
20       True       True  False         False      False  False  False  False
21       True       True  False         False      False  False  False  False
22       True       True  False         False      False  False  False  False
23       True       True  False         False      False  False  False  False
24       True       True  False         False      False  False  False  False

    Weekly_Sales  IsHoliday  Store   Type   Size
0          False      False  False  False  False
1          False      False  False  False  False
2          False      False  False  False  False
3          False      False  False  False  False
4          False      False  False  False  False
5          False      False  False  False  False
6          False      False  False  False  False
7          False      False  False  False  False
8          False      False  False  False  False
9          False      False  False  False  False
10         False      False  False  False  False
11         False      False  False  False  False
12         False      False  False  False  False
13         False      False  False  False  False
14         False      False  False  False  False
15         False      False  False  False  False
16         False      False  False  False  False
17         False      False  False  False  False
18         False      False  False  False  False
19         False      False  False  False  False
20         False      False  False  False  False
21         False      False  False  False  False
22         False      False  False  False  False
23         False      False  False  False  False
24         False      False  False  False  False
Store           413380
Date            413380
Temperature     413380
Fuel_Price      413380
MarkDown1       417538
MarkDown2       418649
MarkDown3       417957
MarkDown4       418106
MarkDown5       417520
CPI             413965
Unemployment    413965
IsHoliday       413380
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Store           421525
Type            421525
Size            421525
dtype: int64
Store           413380
Date            413380
Temperature     413380
Fuel_Price      413380
MarkDown1       417538
MarkDown2       418649
MarkDown3       417957
MarkDown4       418106
MarkDown5       417520
CPI             413965
Unemployment    413965
IsHoliday       413380
Store                0
Dept                 0
Date                 0
Weekly_Sales         0
IsHoliday            0
Store           421525
Type            421525
Size            421525
dtype: int64
(421570, 20)
(0, 20)

## Irregular Data

Detect outliers in your dataset and handle them as needed. Use code comments to make notes about your thought process.

In [10]:
numeric_df = combined_df.select_dtypes(include=[np.number])

mean = np.mean(numeric_df, axis=0)
std_dev = np.std(numeric_df, axis=0)

z_scores = (numeric_df - mean)/std_dev
outliers = np.abs(z_scores) > 3

print("Z-scores:\n", z_scores)
print("\nOutliers:\n", outliers)

Z-scores:
            Store  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
0      -1.693979    -0.912661   -1.933624        NaN        NaN        NaN
1      -1.693979    -1.116115   -1.989268        NaN        NaN        NaN
2      -1.693979    -1.040087   -2.068098        NaN        NaN        NaN
3      -1.693979    -0.681366   -1.959128        NaN        NaN        NaN
4      -1.693979    -0.688327   -1.810743        NaN        NaN        NaN
...          ...          ...         ...        ...        ...        ...
421565       NaN          NaN         NaN        NaN        NaN        NaN
421566       NaN          NaN         NaN        NaN        NaN        NaN
421567       NaN          NaN         NaN        NaN        NaN        NaN
421568       NaN          NaN         NaN        NaN        NaN        NaN
421569       NaN          NaN         NaN        NaN        NaN        NaN

        MarkDown4  MarkDown5       CPI  Unemployment     Store      Dept  \
0             NaN        NaN  0.972312      0.148726 -1.658199 -1.418742
1             NaN        NaN  0.975982      0.148726 -1.658199 -1.418742
2             NaN        NaN  0.977164      0.148726 -1.658199 -1.418742
3             NaN        NaN  0.977932      0.148726 -1.658199 -1.418742
4             NaN        NaN  0.978699      0.148726 -1.658199 -1.418742
...           ...        ...       ...           ...       ...       ...
421565        NaN        NaN       NaN           NaN  1.783258  1.762418
421566        NaN        NaN       NaN           NaN  1.783258  1.762418
421567        NaN        NaN       NaN           NaN  1.783258  1.762418
421568        NaN        NaN       NaN           NaN  1.783258  1.762418
421569        NaN        NaN       NaN           NaN  1.783258  1.762418

        Weekly_Sales     Store      Size
0           0.393782 -1.693979  0.333175
1           1.323501 -1.616980  1.141134
2           1.127829 -1.539981 -1.471914
3           0.150687 -1.462982  1.197478
4           0.257435 -1.385983 -1.511795
...              ...       ...       ...
421565     -0.681290       NaN       NaN
421566     -0.676018       NaN       NaN
421567     -0.656956       NaN       NaN
421568     -0.670210       NaN       NaN
421569     -0.656262       NaN       NaN

[421570 rows x 15 columns]

Outliers:
         Store  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
0       False        False       False      False      False      False
1       False        False       False      False      False      False
2       False        False       False      False      False      False
3       False        False       False      False      False      False
4       False        False       False      False      False      False
...       ...          ...         ...        ...        ...        ...
421565  False        False       False      False      False      False
421566  False        False       False      False      False      False
421567  False        False       False      False      False      False
421568  False        False       False      False      False      False
421569  False        False       False      False      False      False

        MarkDown4  MarkDown5    CPI  Unemployment  Store   Dept  Weekly_Sales  \
0           False      False  False         False  False  False         False
1           False      False  False         False  False  False         False
2           False      False  False         False  False  False         False
3           False      False  False         False  False  False         False
4           False      False  False         False  False  False         False
...           ...        ...    ...           ...    ...    ...           ...
421565      False      False  False         False  False  False         False
421566      False      False  False         False  False  False         False
421567      False      False  False         False  False  False         False
421568      False      False  False         False  False  False         False
421569      False      False  False         False  False  False         False

        Store   Size
0       False  False
1       False  False
2       False  False
3       False  False
4       False  False
...       ...    ...
421565  False  False
421566  False  False
421567  False  False
421568  False  False
421569  False  False

[421570 rows x 15 columns]

## Unnecessary Data

Look for the different types of unnecessary data in your dataset and address it as needed. Make sure to use code comments to illustrate your thought process.

In [13]:
missing_percentages = combined_df.isna().mean()
print(missing_percentages)
# there is over 98% for the majority of the data on the top. 

duplicate_rows = combined_df[combined_df.duplicated()]
print("Duplicate rows:\n", duplicate_rows)

Store           0.980573
Date            0.980573
Temperature     0.980573
Fuel_Price      0.980573
MarkDown1       0.990436
MarkDown2       0.993071
MarkDown3       0.991430
MarkDown4       0.991783
MarkDown5       0.990393
CPI             0.981960
Unemployment    0.981960
IsHoliday       0.980573
Store           0.000000
Dept            0.000000
Date            0.000000
Weekly_Sales    0.000000
IsHoliday       0.000000
Store           0.999893
Type            0.999893
Size            0.999893
dtype: float64
Duplicate rows:
 Empty DataFrame
Columns: [Store, Date, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, IsHoliday, Store, Dept, Date, Weekly_Sales, IsHoliday, Store, Type, Size]
Index: []

## Inconsistent Data

Check for inconsistent data and address any that arises. As always, use code comments to illustrate your thought process.

In [29]:
#basically making sure the column is numeric and if a non-numeric value is found = it converts into Naan
inconsistent_data_fuel_price = pd.to_numeric(combined_df['Fuel_Price'], errors='coerce').isna()
inconsistent_data_temperature= pd.to_numeric(combined_df['Temperature'], errors='coerce').isna()
inconsistent_data_CPI = pd.to_numeric(combined_df['CPI'], errors='coerce').isna()
inconsistent_data_unemployment = pd.to_numeric(combined_df['Unemployment'], errors='coerce').isna()
inconsistent_data_size = pd.to_numeric(combined_df['Size'], errors='coerce').isna()
inconsistent_data_weekly_sales= pd.to_numeric(combined_df['Weekly_Sales'], errors='coerce').isna()

print("Inconsistent data in 'Fuel Price':\n", combined_df[inconsistent_data_fuel_price])
print("Inconsistent data in 'Temperature':\n", combined_df[inconsistent_data_temperature])
print("Inconsistent data in 'CPI':\n", combined_df[inconsistent_data_CPI])
print("Inconsistent data in 'Unemployment':\n", combined_df[inconsistent_data_unemployment])
print("Inconsistent data in 'Size':\n", combined_df[inconsistent_data_size])
print("Inconsistent data in 'Weekly Sales':\n", combined_df[inconsistent_data_weekly_sales])

#checking to see if there are duplicated columns and removing them except the one instance. 
print(combined_df.columns[combined_df.columns.duplicated()])
cleaned_combined_df = combined_df.loc[:, ~combined_df.columns.duplicated()]
print(cleaned_combined_df)

#fixing the 'Date' column and replacing empty spaces with 'NaT'
combined_df['Date_Fixed']= pd.to_datetime(combined_df['Date'], errors='coerce')

Inconsistent data in 'Fuel Price':
         Store Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
8190      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8191      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8192      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8193      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8194      NaN  NaN          NaN         NaN        NaN        NaN        NaN
...       ...  ...          ...         ...        ...        ...        ...
421565    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421566    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421567    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421568    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421569    NaN  NaN          NaN         NaN        NaN        NaN        NaN

        MarkDown4  MarkDown5  CPI  Unemployment IsHoliday  Dept  Weekly_Sales  \
8190          NaN        NaN  NaN           NaN       NaN    80      18321.35
8191          NaN        NaN  NaN           NaN       NaN    80      18733.18
8192          NaN        NaN  NaN           NaN       NaN    80      19494.95
8193          NaN        NaN  NaN           NaN       NaN    80      20586.63
8194          NaN        NaN  NaN           NaN       NaN    80      18570.59
...           ...        ...  ...           ...       ...   ...           ...
421565        NaN        NaN  NaN           NaN       NaN    98        508.37
421566        NaN        NaN  NaN           NaN       NaN    98        628.10
421567        NaN        NaN  NaN           NaN       NaN    98       1061.02
421568        NaN        NaN  NaN           NaN       NaN    98        760.01
421569        NaN        NaN  NaN           NaN       NaN    98       1076.80

       Type  Size Date_Fixed
8190    NaN   NaN        NaT
8191    NaN   NaN        NaT
8192    NaN   NaN        NaT
8193    NaN   NaN        NaT
8194    NaN   NaN        NaT
...     ...   ...        ...
421565  NaN   NaN        NaT
421566  NaN   NaN        NaT
421567  NaN   NaN        NaT
421568  NaN   NaN        NaT
421569  NaN   NaN        NaT

[413380 rows x 17 columns]
Inconsistent data in 'Temperature':
         Store Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  MarkDown3  \
8190      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8191      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8192      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8193      NaN  NaN          NaN         NaN        NaN        NaN        NaN
8194      NaN  NaN          NaN         NaN        NaN        NaN        NaN
...       ...  ...          ...         ...        ...        ...        ...
421565    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421566    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421567    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421568    NaN  NaN          NaN         NaN        NaN        NaN        NaN
421569    NaN  NaN          NaN         NaN        NaN        NaN        NaN

        MarkDown4  MarkDown5  CPI  Unemployment IsHoliday  Dept  Weekly_Sales  \
8190          NaN        NaN  NaN           NaN       NaN    80      18321.35
8191          NaN        NaN  NaN           NaN       NaN    80      18733.18
8192          NaN        NaN  NaN           NaN       NaN    80      19494.95
8193          NaN        NaN  NaN           NaN       NaN    80      20586.63
8194          NaN        NaN  NaN           NaN       NaN    80      18570.59
...           ...        ...  ...           ...       ...   ...           ...
421565        NaN        NaN  NaN           NaN       NaN    98        508.37
421566        NaN        NaN  NaN           NaN       NaN    98        628.10
421567        NaN        NaN  NaN           NaN       NaN    98       1061.02
421568        NaN        NaN  NaN           NaN       NaN    98        760.01
421569        NaN        NaN  NaN           NaN       NaN    98       1076.80

       Type  Size Date_Fixed
8190    NaN   NaN        NaT
8191    NaN   NaN        NaT
8192    NaN   NaN        NaT
8193    NaN   NaN        NaT
8194    NaN   NaN        NaT
...     ...   ...        ...
421565  NaN   NaN        NaT
421566  NaN   NaN        NaT
421567  NaN   NaN        NaT
421568  NaN   NaN        NaT
421569  NaN   NaN        NaT

[413380 rows x 17 columns]
Inconsistent data in 'CPI':
         Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
169       1.0  03/05/2013        66.66       3.386    2298.63       2.00
170       1.0  10/05/2013        63.90       3.392    4624.61      83.88
171       1.0  17/05/2013        69.53       3.454   16170.50      92.00
172       1.0  24/05/2013        77.19       3.494    7959.89     178.00
173       1.0  31/05/2013        78.02       3.466    2369.77     142.45
...       ...         ...          ...         ...        ...        ...
421565    NaN         NaN          NaN         NaN        NaN        NaN
421566    NaN         NaN          NaN         NaN        NaN        NaN
421567    NaN         NaN          NaN         NaN        NaN        NaN
421568    NaN         NaN          NaN         NaN        NaN        NaN
421569    NaN         NaN          NaN         NaN        NaN        NaN

        MarkDown3  MarkDown4  MarkDown5  CPI  Unemployment IsHoliday  Dept  \
169        129.90      55.46    1301.04  NaN           NaN     False     2
170         42.38    1618.31    8144.90  NaN           NaN     False     2
171          8.32    4127.24    6206.97  NaN           NaN     False     2
172       1621.47    3152.57    2938.70  NaN           NaN     False     2
173        475.35      45.55    2056.84  NaN           NaN     False     2
...           ...        ...        ...  ...           ...       ...   ...
421565        NaN        NaN        NaN  NaN           NaN       NaN    98
421566        NaN        NaN        NaN  NaN           NaN       NaN    98
421567        NaN        NaN        NaN  NaN           NaN       NaN    98
421568        NaN        NaN        NaN  NaN           NaN       NaN    98
421569        NaN        NaN        NaN  NaN           NaN       NaN    98

        Weekly_Sales Type  Size Date_Fixed
169         50031.73  NaN   NaN 2013-03-05
170         45475.69  NaN   NaN 2013-10-05
171         49754.17  NaN   NaN        NaT
172         49623.53  NaN   NaN        NaT
173         49015.05  NaN   NaN        NaT
...              ...  ...   ...        ...
421565        508.37  NaN   NaN        NaT
421566        628.10  NaN   NaN        NaT
421567       1061.02  NaN   NaN        NaT
421568        760.01  NaN   NaN        NaT
421569       1076.80  NaN   NaN        NaT

[413965 rows x 17 columns]
Inconsistent data in 'Unemployment':
         Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
169       1.0  03/05/2013        66.66       3.386    2298.63       2.00
170       1.0  10/05/2013        63.90       3.392    4624.61      83.88
171       1.0  17/05/2013        69.53       3.454   16170.50      92.00
172       1.0  24/05/2013        77.19       3.494    7959.89     178.00
173       1.0  31/05/2013        78.02       3.466    2369.77     142.45
...       ...         ...          ...         ...        ...        ...
421565    NaN         NaN          NaN         NaN        NaN        NaN
421566    NaN         NaN          NaN         NaN        NaN        NaN
421567    NaN         NaN          NaN         NaN        NaN        NaN
421568    NaN         NaN          NaN         NaN        NaN        NaN
421569    NaN         NaN          NaN         NaN        NaN        NaN

        MarkDown3  MarkDown4  MarkDown5  CPI  Unemployment IsHoliday  Dept  \
169        129.90      55.46    1301.04  NaN           NaN     False     2
170         42.38    1618.31    8144.90  NaN           NaN     False     2
171          8.32    4127.24    6206.97  NaN           NaN     False     2
172       1621.47    3152.57    2938.70  NaN           NaN     False     2
173        475.35      45.55    2056.84  NaN           NaN     False     2
...           ...        ...        ...  ...           ...       ...   ...
421565        NaN        NaN        NaN  NaN           NaN       NaN    98
421566        NaN        NaN        NaN  NaN           NaN       NaN    98
421567        NaN        NaN        NaN  NaN           NaN       NaN    98
421568        NaN        NaN        NaN  NaN           NaN       NaN    98
421569        NaN        NaN        NaN  NaN           NaN       NaN    98

        Weekly_Sales Type  Size Date_Fixed
169         50031.73  NaN   NaN 2013-03-05
170         45475.69  NaN   NaN 2013-10-05
171         49754.17  NaN   NaN        NaT
172         49623.53  NaN   NaN        NaT
173         49015.05  NaN   NaN        NaT
...              ...  ...   ...        ...
421565        508.37  NaN   NaN        NaT
421566        628.10  NaN   NaN        NaT
421567       1061.02  NaN   NaN        NaT
421568        760.01  NaN   NaN        NaT
421569       1076.80  NaN   NaN        NaT

[413965 rows x 17 columns]
Inconsistent data in 'Size':
         Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
45        1.0  17/12/2010        49.84       2.869        NaN        NaN
46        1.0  24/12/2010        52.33       2.886        NaN        NaN
47        1.0  31/12/2010        48.43       2.943        NaN        NaN
48        1.0  07/01/2011        48.27       2.976        NaN        NaN
49        1.0  14/01/2011        35.40       2.983        NaN        NaN
...       ...         ...          ...         ...        ...        ...
421565    NaN         NaN          NaN         NaN        NaN        NaN
421566    NaN         NaN          NaN         NaN        NaN        NaN
421567    NaN         NaN          NaN         NaN        NaN        NaN
421568    NaN         NaN          NaN         NaN        NaN        NaN
421569    NaN         NaN          NaN         NaN        NaN        NaN

        MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment IsHoliday  \
45            NaN        NaN        NaN  211.405312         7.838     False
46            NaN        NaN        NaN  211.405122         7.838     False
47            NaN        NaN        NaN  211.404932         7.838      True
48            NaN        NaN        NaN  211.404742         7.742     False
49            NaN        NaN        NaN  211.457411         7.742     False
...           ...        ...        ...         ...           ...       ...
421565        NaN        NaN        NaN         NaN           NaN       NaN
421566        NaN        NaN        NaN         NaN           NaN       NaN
421567        NaN        NaN        NaN         NaN           NaN       NaN
421568        NaN        NaN        NaN         NaN           NaN       NaN
421569        NaN        NaN        NaN         NaN           NaN       NaN

        Dept  Weekly_Sales Type  Size Date_Fixed
45         1      44912.86  NaN   NaN        NaT
46         1      55931.23  NaN   NaN        NaT
47         1      19124.58  NaN   NaN        NaT
48         1      15984.24  NaN   NaN 2011-07-01
49         1      17359.70  NaN   NaN        NaT
...      ...           ...  ...   ...        ...
421565    98        508.37  NaN   NaN        NaT
421566    98        628.10  NaN   NaN        NaT
421567    98       1061.02  NaN   NaN        NaT
421568    98        760.01  NaN   NaN        NaT
421569    98       1076.80  NaN   NaN        NaT

[421525 rows x 17 columns]
Inconsistent data in 'Weekly Sales':
 Empty DataFrame
Columns: [Store, Date, Temperature, Fuel_Price, MarkDown1, MarkDown2, MarkDown3, MarkDown4, MarkDown5, CPI, Unemployment, IsHoliday, Dept, Weekly_Sales, Type, Size, Date_Fixed]
Index: []
Index([], dtype='object')
        Store        Date  Temperature  Fuel_Price  MarkDown1  MarkDown2  \
0         1.0  05/02/2010        42.31       2.572        NaN        NaN
1         1.0  12/02/2010        38.51       2.548        NaN        NaN
2         1.0  19/02/2010        39.93       2.514        NaN        NaN
3         1.0  26/02/2010        46.63       2.561        NaN        NaN
4         1.0  05/03/2010        46.50       2.625        NaN        NaN
...       ...         ...          ...         ...        ...        ...
421565    NaN         NaN          NaN         NaN        NaN        NaN
421566    NaN         NaN          NaN         NaN        NaN        NaN
421567    NaN         NaN          NaN         NaN        NaN        NaN
421568    NaN         NaN          NaN         NaN        NaN        NaN
421569    NaN         NaN          NaN         NaN        NaN        NaN

        MarkDown3  MarkDown4  MarkDown5         CPI  Unemployment IsHoliday  \
0             NaN        NaN        NaN  211.096358         8.106     False
1             NaN        NaN        NaN  211.242170         8.106      True
2             NaN        NaN        NaN  211.289143         8.106     False
3             NaN        NaN        NaN  211.319643         8.106     False
4             NaN        NaN        NaN  211.350143         8.106     False
...           ...        ...        ...         ...           ...       ...
421565        NaN        NaN        NaN         NaN           NaN       NaN
421566        NaN        NaN        NaN         NaN           NaN       NaN
421567        NaN        NaN        NaN         NaN           NaN       NaN
421568        NaN        NaN        NaN         NaN           NaN       NaN
421569        NaN        NaN        NaN         NaN           NaN       NaN

        Dept  Weekly_Sales Type      Size Date_Fixed
0          1      24924.50    A  151315.0 2010-05-02
1          1      46039.49    A  202307.0 2010-12-02
2          1      41595.55    B   37392.0        NaT
3          1      19403.54    A  205863.0        NaT
4          1      21827.90    B   34875.0 2010-05-03
...      ...           ...  ...       ...        ...
421565    98        508.37  NaN       NaN        NaT
421566    98        628.10  NaN       NaN        NaT
421567    98       1061.02  NaN       NaN        NaT
421568    98        760.01  NaN       NaN        NaT
421569    98       1076.80  NaN       NaN        NaT

[421570 rows x 17 columns]

## Summarize Your Results

Make note of your answers to the following questions.

1. Did you find all four types of dirty data in your dataset?
   - Yes, I found one instance of all four types of dirty data. 
3. Did the process of cleaning your data give you new insights into your dataset?
   - It made me realize that data can SEEM cleaned, but actually have a few errors or "dirty data" in reality. 
5. Is there anything you would like to make note of when it comes to manipulating the data and making visualizations?
   - That you must always clean data before you can make an accurate analysis.